.proddetail{
    min-width: 250px;
    max-width: 400px;
    border: 1px solid;
    padding: 20px;
    border-radius: 15px;
}
.proddetail_title{
    padding: 10px 20px;
}
.proddetail_container{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.proddetail_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.proddetail_item:first-child{
    color: gray;
}
.proddetail_item:last-child{
    padding: 20px;
}
.proddetail_buttons{
  
    max-width: 50px;
}

.proddetail_buttons button{
    max-width: 50px;
}
.proddetail_quantity{
    grid-column: span 3;
}
.proddtail_btn{
  

    width: 100%;

    text-align: center;
}

.proddtail_btn button{
    width: 90%;
    background-color: red;
}
