*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body.dark{
  background-color: black;
  color: white;
}

img {
  max-width:100%;
  display: inline-block;
  max-height: 100%;
  object-fit:contain;
}
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
input,
button{
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

input{
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
button{
  border: none;
  padding: 3px 9px;
  border-radius:3px;
}
button{
  transform: scale(1.1);
  transition: transForm.25;
  padding: 10px;
  border-radius: 10px;
  color: white;
background: orange;
width: 180px;
margin: 10px 0;
}

.container{
  padding: 20px;
}